
{% extends 'padre.html' %}

{% load static %}


{% block contenido %}
    <main class="container">
        <br>
        <h1 class="text-center bg-secondary bg-opacity-25"> ALUMNOS </h1>
        <br>
        <a href="alta_alumno" class="btn btn-outline-primary btn-sm">Adicionar un Nuevo Alumno</a>
        <a href="buscar_alumno" class="btn btn-outline-primary btn-sm">Buscar Alumno</a>
        <br>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                </tr>
            </thead>
            <tbody>
                {% for n in alumno %}
                <tr>
                    <td>{{n.id}}</td>
                    <td>{{n.nombre}}</td>
                    <td>{{n.apellido}}</td>
                    <td><a href="{% url 'eliminar_alumno' n.id %}" class="btn danger btn-sm">BORRAR</a></td>
                    <td><a href="{% url 'editar_alumno'  n.id %}" class="btn warning btn-sm">EDITAR</a></td>
                </tr>
                {% endfor %}
    
            </tbody>
    
    
        </table>
        <br>

    </main>


{% endblock %}
