
{% extends 'padre.html' %}

{% load static %}


{% block contenido %}
    <main class="container">
        <br>
        <h1 class="text-center bg-secondary bg-opacity-25"> CURSOS </h1>
        <br>
        <a href="alta_curso" class="btn btn-primary btn-sm">Nuevo Curso</a>
        <a href="buscar_curso" class="btn btn-outline-primary btn-sm">Buscar Curso</a>
        <br>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>CAMADA</th>
                </tr>
            </thead>
            <tbody>
                {% for n in curso %}
                <tr>
                    <td>{{n.id}}</td>
                    <td>{{n.nombre}}</td>
                    <td>{{n.camada}}</td>
                    <td><a href="{% url 'eliminar_curso' n.id %}" class="btn danger btn-sm">BORRAR</a></td>
                    <td><a href="{% url 'editar_curso'  n.id %}" class="btn warning btn-sm">EDITAR</a></td>
                </tr>
                {% endfor %}
    
            </tbody>
    
    
        </table>
        <br>

    </main>


{% endblock %}
