
{% extends 'padre.html' %}

{% load static %}


{% block contenido %}
    <main class="container">
        <br>
        <h1 class="text-center bg-secondary bg-opacity-25"> PROFESORES </h1>
        <br>
        <a href="alta_profesor" class="btn btn-outline-primary btn-sm">Adicionar un Nuevo Profesor</a>
        <a href="buscar_profesores" class="btn btn-outline-primary btn-sm">Buscar Profesor</a>
        <br>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>MATERIA</th>
                </tr>
            </thead>
            <tbody>
                {% for n in profesor %}
                <tr>
                    <td>{{n.id}}</td>
                    <td>{{n.nombre}}</td>
                    <td>{{n.materia}}</td>
                    <td><a href="{% url 'eliminar_profesor' n.id %}" class="btn danger btn-sm">BORRAR</a></td>
                    <td><a href="{% url 'editar_profesor'  n.id %}" class="btn warning btn-sm">EDITAR</a></td>
                </tr>
                {% endfor %}
    
            </tbody>
    
    
        </table>
        <br>

    </main>


{% endblock %}
